:root {
    --primary-color: #2a9d8f;
    --secondary-color: #e9c46a;
    --accent1-color: #f4a261;
    --accent2-color: #e76f51;
    --heading-font: 'Trebuchet MS', sans-serif;
    --body-font: 'Arial', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 20px 0;
    text-align: center;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia img {
    width: 32px;
    height: 32px;
    margin: 0 8px;
    vertical-align: middle
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.90;
    background-color: var(--accent1-color);
    color: white;
}

article {
    position: absolute;
    background-color: var(--secondary-color);
    margin-bottom: 20px;
    padding: 16px;
    border-radius: 8px;
}

.hero article img {
    float: right;
    width: 200px;
    height: auto;
    margin-left: 16px;
}