:root {
    --primary-color: #004d60; /* Dark Teal */
    --secondary-color: #2b8a74; /* Medium Teal */
    --accent1-color: #f07f2e;   /* Vibrant Orange */
    --accent2-color: #F4eBDC;
    --text-dark: #000000;
    --text-light: #FFFFFF;
    --heading-font: 'Trebuchet MS', sans-serif;
    --body-font: 'Arial', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--body-font);
    background-color: var(--accent2-color);
    color: var(--text-dark)
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 20px 0;
    text-align: left;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
    color: #333333;
}

nav a {
    color: var(--text-light); 
    text-decoration: none;
    padding: 8px 12px;
}

.socialmedia img {
    width: 32px;
    height: 32px;
    margin: 0 8px;
    vertical-align: middle
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.90;
    background-color: var(--accent1-color);
    color: var(--text-light);
}

article {
    position: absolute;
    background-color: var(--secondary-color);
    margin-bottom: 20px;
    padding: 16px;
    border-radius: 8px;
}

.hero article {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: var(--text-light);
    background-color: var(--accent1-color);
    opacity: 0.90;
    width: 800px;
    padding: 10px 10px 5px 10px;
    bottom: 10px;
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hero article p {
    color: var(--text-light);
    margin: 0;
    padding: 0;
}

.hero article img {
    float: right;
    width: 100px;
    height: auto;
    margin-left: 16px;
    margin-top: 5px;
    margin-bottom: 8px;
    border-radius: 4px;
}

section h2 {
    background-color: var(--accent1-color);
    color: var(--text-light);
    margin: 0;
    padding: 10px 16px;
    opacity: 1.0; text-align: center;
}