*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
}

main { 
    max-width: 840px;
}

p {
    padding: 0;
}


aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2);
  padding: 1rem;
  text-align: center;
  position: relative;
}

aside img {
  width: 200px;
  height: auto;
}

aside h2 {
  position: absolute;
  top: 0px;
  left: 10px;
}

nav {
  background-color: #333;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  color: #fff;
  padding: 0.5rem;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2rem;
  display: block;
  }

h1 {
  color: #333;
  border: #eeeeee 1px solid;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid rgb(92, 70, 172);
  padding: 2px;
  box-shadow: 0 0 30px gray;
  float: right;
  margin: 0 0 1rem 1rem;
}

p {
    padding: 0;
    margin: 1rem;
}

header, .grid, footer {
  max-width: 840px;
  margin: 0 auto;
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}

/* Class Selectors*/
.box {
    margin: 1rem;
    border: 1px solid rgba(0 0 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}